body {
    background-color: rgb(87, 139, 185);
}
#wrapper {
    position: absolute;
    left: 30%;
     top: 20%;
     width: 500px;
     height: 500px;
     background-color: aliceblue;
     border: 1px solid rgb(255, 255, 255);
     text-align: center;

 }
 #startTime {
    background-color: rgb(250, 248, 250);
    background-color:rgb(87, 139, 185);
    width: 100px 100px;
    margin-left: 33%;
    padding: 5px 5px;
    font-size: 20px;
    color: white;
    border-radius: 12px;
    align-items: center;
  
}


 #questionsDiv {
     margin: 20px;
 }

 #questionsDiv p {
     font-size: 15px;
     text-align: center;
 }

 #currentTime {
     float: left;
     font-size: 50px;
     color: white;
     width: 100px;
     height: 100px;
 }

 #goBack {
     background-color: purple;
     background-color: grey;
     position: relative;
     padding: 10px;
     font-size: 20px;
    color: white;
    top: 30%;
    left: 55%;
     width: auto;
     text-align: center;
     text-decoration: none;
     border-radius: 12px;
 }


 button {
 
    border-radius: 8px;
}
textarea {
    width: 90%;
    margin: 20px;
 }

 #Submit {
     background-color:rgb(87, 139, 185);
     background-color: grey;
     margin-left: 33%;
     padding: 15px 32px;
     font-size: 20px;
     color: white;
     border-radius: 12px;
 }

 label {
    margin-right: 10px;
}
input {
    margin-bottom: 20px;
    width: 50%;
    border: 1px solid lightgray;
}

 h1 {
     text-align: center;
     font-size: 45px;
     text-decoration: underline;
 }

 li {
     background-color:rgb(255, 255, 255);
     background-color:rgb(87, 139, 185);
     margin-top: 10px;
     padding: 5px 15px;
     width: 80%;
     font-size: 18px;
     color: white;
     border-radius: 12px;
 }

 #createDiv {
     margin-top: 20px;
     border-top: 1px solid lightgray;
     border-radius: 12px;
 }        